html {
	font-family:'Arima Madurai',sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

div {
	display: block;
	box-sizing: border-box;
}

h1 {
	font-size: 2rem;
	display: inline-block;
	margin: 0;
	align-items: center;
	/* color: #00645a; */
	color: #fff;
}

a{
	text-decoration: none;
	color: #282828;
}

p{
	margin: 0;
	color: #282828;
}

.container{
	width: 100%;
	height: 100vh;
}

button{
	position: absolute;
    left: 10px;
    top: 20px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background: transparent;
    border: none;
    cursor: pointer;
}
button span{
	position: relative;
    display: block;
    height: 4px;
    width: 20px;
    border-radius: 3px;
    opacity: 1;
    background: #efce1a;
    z-index: 10;
}
button span:nth-child(1){
	transform: rotate(-45deg);
    top: -4px;
    left: -4px;
}
button span:nth-child(2){
	transform: rotate(45deg);
    top: 4px;
    left: -4px;
}
/* button::after{
	position: relative;
    content: "icon";
    text-indent: -999em;
    display: block;
    min-height: 50px;
    min-width: 50px;
    background: url(../images/arrow.png) transparent no-repeat;
    top: -3px;
    left: -7px;
    background-size: 50px 50px;
    z-index: 10;
}*/
.title_box{
	position: absolute;
    top: 20px;
    right: 0;
	width: 250px;
    background-color: #efce1a;
    padding-left: 5px;
}
.lectures_box{
	display: flex;
	flex-direction: column;
	clear: both;
	padding: 100px 260px 0 10px;
}

.info_box a{
	color: #00645a;
}
.info{
	color: #00645a;
	font-size: 1.5rem;
}
.materials{
	webkit-columns: 4 100px;
    -moz-columns: 4 100px;
    columns: 4 100px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border: 1px rgba(209, 88, 80,.4) solid;
}

.materials p{
	font-size: 14px;
	text-transform: uppercase;
}
