html {
	font-family:'Arima Madurai',sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

div {
	display: block;
	box-sizing: border-box;
}

h1 {
	font-size: 3rem;
	display: inline-block;
	margin: 0;
	/*text-align: center;*/
	color: #fff;
}

h2 {
	font-size: 2rem;
	display: inline-block;
	margin: 0;
	color: #fff;
}

h3 {
	font-size: 1.8rem;
	margin: 0;
	color: #00645a;
	text-align: middle;
}

a{
	text-decoration: none;
	color: #fff;
}

p{
	margin: 0;
	color: #282828;
	/*color: #fff;*/
}

img{
	display: block;
	max-width: 100%;
    height: auto;
}

@media(max-width: 850px){
	h1{
		font-size: 2.5rem;
	}
	h2{
		font-size: 1.8rem;
	}
	h3{
		font-size: 1.5rem;
	}
}

@media(max-width: 720px){
	h1{
		font-size: 2.2rem;
	}
	h2{
		font-size: 1.5rem;
	}
	h3{
		font-size: 1.2rem;
	}
}
@media(max-width: 650px){
	h1{
		font-size: 1.8rem;
	}
}
@media(max-width: 550px){
	h1{
		font-size: 1.6rem;
	}
	h2{
		font-size: 1.4rem;
	}
}

/*m o b i l e*/
.mobile{
	display: none;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(90deg,rgba(209, 88, 80,.6),rgba(0,100,90,.7)),url(../images/audience.jpg);
	background-size: cover;
}
.mobile_title{
	width: 100%;
	padding-top: 50px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.mobile_title p{
	font-size: 2rem;
	color: #fff;
}
.mobile_desc{
	width: 100%;
	padding-top: 50px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.mobile_desc p{
	font-size: 1.5rem;
	color: #fff;
}

@media(max-width: 500px){
	.mobile{
		display: block;
	}
	main{
		display: none;
	}
}

/*N A V I G A T I O N*/
.nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.menu-button {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 15px;
	background: transparent;
	border: none;
	cursor: pointer;
	overflow: visible;
	display: block;
	position: fixed;
	top: 20px;
	left: 20px;
}
.menu-button_span{
	position: absolute;
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 3px;
	opacity: 1;
	left: 0;
	background: #efce1a;
	transition: .25s ease-in-out;
}

.menu-button_span:nth-child(1){
	top:0px;
}
.menu-button_span:nth-child(2),
.menu-button_span:nth-child(3){
	top:10px;
}
.menu-button_span:nth-child(4){
	top:20px;
}

.menu-button_open .menu-button_span:nth-child(1){
	width: 0%;
}
.menu-button_open .menu-button_span:nth-child(2){
	transform: rotate(45deg);
}
.menu-button_open .menu-button_span:nth-child(3){
	transform: rotate(-45deg);
}
.menu-button_open .menu-button_span:nth-child(4){
	width: 0%;
}

.menu-list {
	padding: 70px 0 0 20px;
	margin: 0;
	width: 100%;
	text-align: left;
	overflow: auto;
	background: #00645a;
	visibility: hidden;
	transition: widith 0.6s ease-in-out;
}

.menu-item {
	display: block;
	list-style: none;
}

.menu-link {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	position: relative;
	display: block;
}
.menu-link:hover{
	color: #bbb;
}
/*e n d  o f  n a v */

/*S T A R T*/
.start {
	width: 100%;
	height: 700px;
	border: 10px;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	-webkit-clip-path: url("#swg_d");
  	clip-path: url("#swg_d");
	background-image: linear-gradient(90deg,rgba(209, 88, 80,.6),rgba(0,100,90,.7)),url(../images/las.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.diamond {
	width: 100px;
	height: 100px;
	transform: rotate(45deg);
	background: rgba(255,255,255,0.1);
	border: 5px solid #fff;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	display: flex;
	align-content: space-around;
    justify-content: center;
    flex-direction: column;
    cursor: default;
}

#header-diamond{
	width: 200px;
	height: 200px;
}

.header-cnt{
	transform: rotate(-45deg);
	color: #fff;
	/*cursor: default;*/
}

#contact-diamond {
	width: 200px;
	height: 200px;
}

.contact-content {
	transform: rotate(-45deg);
	color: #fff;
}

.start-link {
	color: #fff;
}

.menu-diamond{
	cursor: pointer;
	overflow: hidden;
	transition: all 0.6s ease;
}

.menu_text{
	font-size: 1.2rem;
	color: #fff;
	background: rgba(#fff, .3);
}

#menu_1{
	background-image: linear-gradient(0deg,rgba(255,255,255,.2),rgba(255,255,255,.2)),url(../images/woman.png);	
	background-size: cover;
}

#menu_2{
	background-image: linear-gradient(0deg,rgba(255,255,255,.2),rgba(255,255,255,.2)),url(../images/education.png);	
	background-size: cover;
}

#menu_3{
	background-image: linear-gradient(0deg,rgba(255,255,255,.2),rgba(255,255,255,.2)),url(../images/science.png);	
	background-size: cover;
}

#menu_4{
	background-image: linear-gradient(0deg,rgba(255,255,255,.2),rgba(255,255,255,.2)),url(../images/link.png);	
	background-size: cover;
}

#img-diamond {
	width: 300px;
	height: 300px;
}

.start-image{
	max-width: 300px;
	width: 100%;
	height: auto;
	vertical-align: middle;
	transform: rotate(-45deg);
}

.menu-image{
	max-width: 60px;
	height: auto;
	transform: rotate(-45deg);
	vertical-align: middle;
}

.menu-text{
	text-transform: uppercase;
	vertical-align: middle;
	font-weight: lighter;
	transform: rotate(-45deg);
	color: #fff;
	visibility: hidden;
}

.menu-text:hover{
	visibility: visible;
}

@media (max-width: 1040px) {
	#header-diamond{
		width: 160px;
		height: 160px;
	}	
	#contact-diamond{
		width: 160px;
		height: 160px;
	}
	#img-diamond{
		width: 250px;
		height: 250px;
	}
}
@media(max-width: 850px){
	#header-diamond{
		width: 140px;
		height: 140px;
	}	
	#contact-diamond{
		width: 140px;
		height: 140px;
	}
	#img-diamond{
		width: 220px;
		height: 220px;
	}
	.menu-diamond{
		width: 80px;
		height: 80px;
	}
}

@media(max-width: 720px){
	.start{
		height: 600px;
	}
	#header-diamond{
		width: 120px;
		height: 120px;
	}	
	#contact-diamond{
		width: 120px;
		height: 120px;
	}
	#img-diamond{
		width: 200px;
		height: 200px;
	}
	.menu-diamond{
		width: 70px;
		height: 70px;
	}
}

@media(max-width: 650px){
	#header-diamond{
		width: 100px;
		height: 100px;
	}	
	#contact-diamond{
		width: 100px;
		height: 100px;
	}
	#img-diamond{
		width: 180px;
		height: 180px;
	}
}
@media(max-width: 550px){
	.start{
		height: 500px;
	}
	#header-diamond{
		width: 90px;
		height: 90px;
	}	
	#contact-diamond{
		width: 90px;
		height: 90px;
	}
	#img-diamond{
		width: 180px;
		height: 180px;
	}
	.menu-diamond{
		width: 60px;
		height: 60px;
	}
}

/*S E C T I O N S*/
.section_marker{
 	position: absolute;
 	right: 0;
 	margin-top: 20px;
 	width: 100%;
 	display: flex;
 	flex-direction: column;
 	align-items: flex-end;
}
.section_title{
	width: 200px;
	background-color: rgba(239, 206, 26,.9);
	float: right;
}

@media(max-width: 650px){
	.section_title{
		width: 180px;
	}
}
@media(max-width: 550px){
	.section_title{
		width: 160px;
	}
}
/* A B O U T  M E*/
.about_me{
	width: 100%;
	height: 500px;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	-webkit-clip-path: url("#swg_d");
 	clip-path: url("#swg_d");
}
.me_slides{
	position: relative;
	height: 100%;
	margin: 0 300px 0 50px;
	text-align: center;
}
.me_description{
	height: 100%;
	padding: 20px 20px 50px 20px;
	text-align: justify;
	display: none;
	flex-direction: column;
	justify-content: center;
}
.description{
	font-size: 1.2rem;
}
.small_desc{
	display: none;
}
.desc_past{
	/*margin-top: 100px;*/
}
.desc_present{
	/*margin-top: 100px;*/
}
.desc_future{
	/*margin-top: 100px;*/
}

.me_dots{
	position: absolute;
    bottom: 30px;
    display: inline-block;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  /*border-radius: 50%;*/
  transform: rotate(45deg);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}


.about_photo{
	position: absolute;
	width: 300px;
	height: 500px;
	right: 0;
	background-color: #00645a;
	-webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: url("#swg_s");
  	clip-path: url("#swg_s");
}
.contact{
	height: auto;
	width: 260px;
    margin: 250px 10px 10px 0;
    font-size: 1.2rem;
    float: right;
    color: #fff;
}

.contact_img{
	max-width: 20px;
	height: auto;
}
.contact_link{
	color: #fff;
}
.contact_link:hover{
	color: #bbb;
}

@media(max-width: 850px){
	.me_slides{
		margin: 0 250px 0 50px;
	}
	.description{
		font-size: 1.1rem;
	}
	.about_photo{
		width: 250px;
	}
	.contact{
		width: 210px;
		font-size: 1rem;
	}
}
@media(max-width: 720px){
	.description{
		font-size: 16px;
	}
}
@media(max-width: 650px){
	.about_me{
		height: 550px;
	}
	.about_photo{
		height: 550px;
	}
	.me_slides{
		margin: 0 230px 0 50px;
	}
	.description{
		font-size: 15px;
	}
	.about_photo{
		width: 230px;
	}
	.contact{
		width: 200px;
		font-size: 1rem;
	}
}
@media(max-width: 550px){
	.me_dots{
    	bottom: 35px;
	}
	.about_me{
		height: 600px;
	}
	.about_photo{
		height: 600px;
	}
	.me_slides{
		margin: 0 210px 0 50px;
	}
	.about_photo{
		width: 210px;
	}
	.contact{
		width: 180px;
		font-size: 1rem;
	}
	.contact_link{
	font-size: 15px;
	}
	.big_desc{
		display: none;
	}
	.small_desc{
		display: inline;
	}
}
/*e n d  o f  d e s c r i p t i o n*/

/* L E C T U R E S */
.lectures{
	width: 100%;
	height: 600px;
	/*background-image: url(../images/lectures.jpeg);*/
	background-image: linear-gradient(90deg,rgba(209, 88, 80,.6),rgba(0,100,90,.7)),url(../images/lectures.jpeg);
	background-size: cover;
	background-attachment: fixed;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	-webkit-clip-path: url("#swg_d");
  	clip-path: url("#swg_d");
	font-size: 1.2rem;
	z-index: -100;
}

.lectures_content{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;
	justify-content: center;
	padding: 100px 10px 10px 50px;
	color: #fff;
}

.lecture {
	/*flex-grow: 1;*/
	/*display: inline-block;*/
	display: flex;
    flex-direction: column;
    justify-content: center;
	width: 200px;
	height: 150px;
	border: 1px #fff solid;
	text-align: center;
	padding: 5px;
	margin: 10px;
	background: rgba(255,255,255,.1);
}
.lecture p{
	color: #fff;
}
@media(max-width: 720px){
	.lecture{
		width: 170px;
		height: 120px;
	}
	.lecture p{
		font-size: 16px;
	}
}
@media(max-width: 550px){
	.lecture{
		width: 150px;
		height: 100px;
	}
	.lecture p{
		font-size: 14px;
	}
}

/*science*/
.science{
	width: 100%;
}

.science_section_marker{
	width: 100%;
	height: 100px;
}

.science_el{
	margin: 30px 30px 30px 50px;
}

.science_title{
	column-span: all;
}


.subsection{
	width: 100%;
	/*height: 50px;*/
	float: left;
	padding: 10px 0 0 10px;
}

/*c o o p e r a t i o n*/
.cooperation_columns{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	clear: both;
}

.cooperation_company{
	width: 150px;
	height: 150px;
	border: 1px rgba(209, 88, 80,.4) solid;
	text-align: center;
	vertical-align: middle;
	float: left;
	margin: 20px;
}
.company{
	visibility: hidden;
}


.ifpan{
	background-image: url(../images/logos/ifpan_logo.jpg);
	background-size: cover;
}
.wemif{
	background-image: url(../images/logos/wemif_logo.png);
	background-size: cover;
}
.imim{
	background-image: url(../images/logos/imim_logo.png);
	background-size: cover;
}
.tud{
	background-image: url(../images/logos/tud_logo.png);
	background-size: cover;
}
.unipress{
	background-image: url(../images/logos/unipress_logo.png);
	background-size: cover;
}

@media(max-width: 850px){
	.cooperation_company{
		width: 100px;
		height: 100px;
	}
}
/*e n d  o f  c o o p e r a t i o n*/

/*p r o j e c t s */

.projects_columns{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	clear: both;
}

.project{
	width: 300px;
	height: 200px;
	display: flex;
    flex-direction: column;
    justify-content: center;
	border: 1px rgba(209, 88, 80,.4) solid;
	text-align: center;
	float: left;
	margin: 20px;
	cursor: pointer;
	background: rgba(255,255,255,.4);
}
.project:hover{
	background: linear-gradient(90deg,rgba(209, 88, 80,.6),rgba(0,100,90,.7));
}

.project_title{
	font-size: 1.2rem;
	padding: 5px;
}

.project_description{
	padding: 5px;
	text-align: left;
	cursor: pointer;
}

@media(max-width: 760px){
	.project{
		width: 250px;
		height: 150px;
		margin: 10px;
	}
	.project_title{
		font-size: 1rem;
	}
	.project_description{
		font-size: 0.9rem;
	}
}

@media(max-width: 620px){
	.project{
		width: 280px;
		height: 130px;
		margin: 8px;
	}
	.project_title{
		font-size: 16px;
	}
	.project_description{
		font-size: 14px;
	}
}

/*e n d  o f  p r o j e c t s*/

/*a r t i c l e s*/
.articles_columns{
	display: flex;
	flex-direction: column;
	clear: both;
}

.article{
	columns: 2 300px;
	column-gap: 2em;
	border: 1px rgba(209, 88, 80,.4) solid;
	margin: 10px;
}

.article_p{
	margin-bottom: 5px;
	padding: 5px;
	text-align: justify;
}
.italic{
	font-style: italic;
	/*color: #282828;*/
}
.bold{
	font-weight: bold;
}

@media(max-width: 792px){
	.article{
		columns: 2 250px;
		column-gap: 1em;
	}
	.article_p{
		font-size: 14px;
	}
}
/*e n d  o f  a r t i c l e s*/

/* L I N K S */
.links{
	width: 100%;
	height: 200px;
	padding: 10px;
	background-color: #00645a;
	-webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: url("#swg_h");
  	clip-path: url("#swg_h");
}

.links_columns{
	padding: 50px 0 0 10px;
	display: flex;
	flex-direction: row;
	float: left;
}

.link_div{
	margin-top: 30px;
	width: 100px;
	height: 100px;
}

.visible{
	display:block;
}

.invisible{
	display:none;
}

@media(max-width: 720px){
	.link_div{
		width: 80px;
		height: 80px;
	}
}
