@import 'variables';
.menu-button {
	display: block;
	position: fixed;
	top: 1.5em;
	left: 1.5em;
	width: 2em;
	height: 2em;
	border: none;
	background: transparent;
	cursor: pointer;
	span{
		display: block;
		position: absolute;
		left: 0;
		height: .25em;
		width: 100%;
		opacity: 1;
		border-radius: .2em;
		transition: ease-in-out .8s;
		background-color: $mango;
		&:nth-child(1){
			top:0
		}
		&:nth-child(2),&:nth-child(3){
			top:.7em;
		}
		&:nth-child(4){
			top:1.4em;
		}
	}
}
.menu-button_open{
	span{
		&:nth-child(1),&:nth-child(4){
			width: 0;
		}
		&:nth-child(2){
			transform: rotate(45deg);
		}
		&:nth-child(3){
			transform: rotate(-45deg);
		}
	}
}