@mixin transition($time) {
  	webkit-transition: $time ease-in-out;
  	-moz-transition: $time ease-in-out;
  	-o-transition: $time ease-in-out;
	transition: $time ease-in-out;
}

@mixin bg-trans($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin background($image){
	background-image: linear-gradient(0deg,rgba(white,.2),rgba(white,.2)),$image;
	background-size: cover;
}

@mixin clip-path($clip){
	-webkit-clip-path: $clip;
	-moz-clip-path: $clip;
	-ms-clip-path: $clip;
	clip-path: $clip;
}

@mixin columns($col, $width, $gap){
	-webkit-columns: $col $width;
     -moz-columns: $col $width;
	columns: $col $width;
	-webkit-column-gap: $gap;
    -moz-column-gap: $gap;
	column-gap: $gap;
}

@mixin flexible($direction, $wrap){
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
}