$white: #FFFFFF;
$mango: #EFCE1A;
$pink: rgba(#D15850,.6);
$green: #00645A;
$light-green: rgba($green,.7);
$light-grey: #BBBBBB;
$grey: #717171;
$dark-grey: #282828; // text

$tablet: 900px;
$landscape: 600px;
$phone: 400px;
