@import '_reset';
@import '_variables';
@import '_menu';
h1{
	font-size: 3em;
	color: white;
	@media(max-width: $md){
		font-size: 2.1em;
	}
	@media(max-width: $xs){
		font-size: 1.9em;
	}
}
h2{
	font-size: 2em;
	color: white;
	@media(max-width: $lg){
		font-size: 1.8em;
	}
	@media(max-width: $md){
		font-size: 1.5em;
	}
}
h3{
	font-size: 1.8em;
	color: $green;
	@media(max-width: $lg){
		font-size: 1.5em;
	}
	@media(max-width: $md){
		font-size: 1.3em;
	}
}
a{
	color: white;
	&:hover, &:focus{
			color: $mango;
		}
}
p{
	margin: 0;
	color: $dark-grey;
}
.italic{
	font-style: italic;
}
.bold{
	font-weight: bold;
}
.home{
	width: 100%;
	height: 75vh;
	min-height: 450px;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	background-image: linear-gradient(90deg,$pink,$light-green),url(../images/las1000.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	.home__container{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		padding: 1em;
		@media(orientation: landscape){
			justify-content: center;
		}
	}
	.home__diamond{
		width: 20vw;
		min-width: 200px;
		height: 20vw;
		min-height: 200px;
		transform: rotate(45deg);
		background: rgba(white,.1);
		border: .25em solid white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
		cursor: default;
		.home__diamond_img{
			width: 100%;
			height: auto;
			padding-top: 2em;
			vertical-align: middle;
			transform: rotate(-45deg);
		}
	}
	.home__header {
		text-align: center;
		@media(orientation: landscape){
			padding-top: 3em;
		}
	}
	.home__menu{
		position: absolute;
		border: none;
		background: none;
		padding: 0;
		width: 10vw;
		min-width: 3em;
		img{
			width: 100%;
		}
	}
	@media (orientation: portrait){
		background-image: linear-gradient(90deg,$pink,$light-green),url(../images/las400p.jpg);
	}
	@media(min-width: $md) and (orientation:portrait), (min-width: $lg){
		min-height: 600px;
		.home__diamond{
			min-width: 250px;
			min-height: 250px;
			border: .5em solid #fff;
		}
		.home__header{
			padding-top: 6em;
		}
	}
	@media(min-width: $xl){
		.home__menu{
			width: 10vw;
		}
	}
}
.section_title{
	position: absolute;
	top: 2em;
	right: 0;
	z-index: 2;
	width: 10em;
	min-width: fit-content;
	background-color: $mango;
	padding: 0 .5em;
	@media(min-width: $md){
		width: 13em;
	}
	@media(min-width: $lg){
		width: 15em;
	}
}
.about{
	width: 100%;
	display: flex;
	flex-direction: column;
 	@media(min-width: $md){
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		flex-direction: row-reverse;
 	}
}
.about__col{
	padding: 1em 1em 1em 3em;
	@media(min-width: $md){
		padding: 1em;
		min-height: 24em;
	}
	@media(min-width: $lg){
		min-height: 18em;
	}
}
.about__col_1{
	min-height: 13em;
	height:auto;
	background: $green;
	clip-path: polygon(100% 0,100% 100%,0 100%,0 35%);
	.contact{
		padding-top: 5em;
	}
	.contact__link{
		display: block;
		padding: .25em 0;
		.contact__link_img{
			vertical-align: middle;
		}
	}
	@media(min-width: $md){
		min-width: 16em;
		min-height: initial;
		clip-path: none;
		.contact{
			padding-top: 12em;
		}
	}
	@media(min-width: $lg){
		min-width: 20em;
		.contact{
			padding-top: 7em;
		}
		.contact__link_img{
			padding-right: .25em;
		}
	}
}
.about__col_2{
	position: relative;
	height: 30em;
	@media(min-width:$xs){
		height: 25em;
	}
	@media(min-width:$xs) and (orientation: landscape){
		height: 18em
	}
	@media(min-width: $md){
		height: auto;
	}
}
.description{
	display: none;
	height: calc(100% - 3em);
	flex-direction: column;
	justify-content: center;
	.description__text_shortcut{
		display: none;
		@media(max-width: $lg){
			display: inline;
		}
	}
	.description__text_detailed{
		display: inline;	
		@media(max-width: $lg){
			display: none;
		}
	}
	@media(min-width: $md){
		padding: 0 2em;
	}
	@media(min-width: $xl){
		padding: 0 4em;
	}
}
.about__dots{
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translateX(-50%);
	.dot {
		cursor:pointer;
		height: 1.5em;
		width: 1.5em;
		margin: 0 .5em;
		background-color: $light-grey;
		border: none;
		transform: rotate(45deg);
		display: inline-block;
		transition: background-color 0.6s;
		&:hover, .active{
			background-color: $grey;
		}
	}
	@media(min-width: $lg){
		bottom: 2em;
	}
}
.lectures{
	width: 100%;
	height: 100vh;
	min-height: 42em;
	background-image: linear-gradient(90deg,$pink,$light-green),url(../images/lectures.jpeg);
	background-size: cover;
	background-attachment: fixed;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	@media(min-width: $xs){
		min-height: initial;
	}
	@media(min-width:$md) and (orientation: portrait), (min-width:$lg){
		height: 50vh;
	}
	.lectures__inner{
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 5em 1em 4.5em 1em;
		@media(min-width: $md){
			align-items: center;
		}
	}
	.lecture {
		flex-basis: 10em;
		height: 6em;
		border: 1px white solid;
		text-align: center;
		margin: .25em;
		background: rgba(white,.1);
		.lecture__link{
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		@media(min-width: $lg){
			flex-basis: 11em;
			height: 8em;
			margin: .5em;
			.lecture__link{
				font-size: 1.1em;
			}
		}
	}
}
.science{
	.science__el{
		padding: 2em 2em 1em 3em;
		@media(min-width: $md){
			padding: 2em 3em;
		}
	}
	.science__el_first{
		padding-top: 5em;
	}
}
.cooperation{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	vertical-align: middle;
	.cooperation__company{
		width: 6em;
		height: 6em;
		border: 1px $pink solid;
		text-align: center;
		margin: .5em;
		@media(min-width: $md){
			width: 8em;
			height: 8em;
			margin: 1em;
		}
		@media(min-width: $lg){
			width: 9em;
			height: 9em;
			margin: 0 1em;
		}
	}
	.cooperation__company_link{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		&:hover{
			background: $pink;
		}
		&:hover .cooperation__company_name{
			opacity:1;
		}
		.cooperation__company_name{
			font-size: .65em;
			opacity: 0;
			@media(min-width:$md){
				font-size: .9em;
			}
		}
	}
	.ifpan{
		background: center / cover no-repeat url(../images/logos/ifpan_logo.jpg);
	}
	.wemif{
		background: center / cover no-repeat url(../images/logos/wemif_logo.png);
	}
	.imim{
		background: center / cover no-repeat url(../images/logos/imim_logo.png);
	}
	.tud{
		background: center / cover no-repeat url(../images/logos/tud_logo.png);
	}
	.unipress{
		background: center / cover no-repeat url(../images/logos/unipress_logo.png);
	}
}
.projects{
	padding: .5em 0 0 .5em;
	@media(min-width:$md){
		padding: 1em;
	}
}
.projects__el{
	margin: 0 auto .5em auto;
	max-width: 72em;
	&:hover{
		background: linear-gradient(90deg,$pink,$light-green);
	}
	&[open]{
		border: 1px solid $pink;
	}
	.projects__el_title{
		font-size: 1.1em;
		cursor: pointer;
		&::-webkit-details-marker{
			color: $mango;
		}
	}
	.projects__el_details{
		padding: 0 0 .5em .5em;
		@media(min-width: $md){
			padding: 0 0 1em 1.5em;
		}
	}
}
.articles{
	.articles__inner{
		columns: 2 250px;
		column-gap: 1em;
		border: 1px $pink solid;
		margin: .5em;
		@media(min-width: $lg){
			columns: 2 300px;
			column-gap: 2em;
			margin: 1em;
		}
	}
	.articles__el{
		margin-bottom: .5em;
		padding: .5em;
	}
}
.links{
	width: 100%;
	background-color: $green;
	clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
	.links__inner{
		padding: 5em 1em 1em 1em;
		display: flex;
		justify-content: space-evenly;
		@media(min-width: $xl){
			justify-content: start;
		}
	}
	.links__el{
		width: 4em;
		height: 4em;
		@media(min-width: $xl){
			width: 6em;
			height: 6em;
			margin: 0 1em;
		}
	}
	.links__el_link{
		display: block;
		width: 100%;
		height: 100%;
	}
	.links__el_img{
		width: 100%;
		height: auto;
	}
}
