// @import 'compass/css3';
@import '_reset';
@import '_variables';
@import '_mixins';
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&subset=latin,latin-ext');


html,body {
	font-family:'Arima Madurai';
	scroll-behavior: smooth;
}

h1 {
	font-size: 2rem;
	display: inline-block;
	margin: 0;
	align-items: center;
	color: #fff;
	@media (max-width: $lg){
		font-size: 1.5rem;
	}
	@media (max-width: $xs){
		font-size: 1.3rem;
	}
}

a{
	text-decoration: none;
	color: $dark-grey;
}
p{
	margin: 0;
	color: $dark-grey;
}
.container{
	width: 100%;
	height: 100vh;
}
button{
	position: absolute;
    left: 10px;
    top: 20px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background: transparent;
    border: none;
    cursor: pointer;
}
button span{
	position: relative;
    display: block;
    height: 4px;
    width: 20px;
    border-radius: 3px;
    opacity: 1;
    background: $mango;
    z-index: 10;
}
button span:nth-child(1){
	transform: rotate(-45deg);
    top: -4px;
    left: -4px;
}
button span:nth-child(2){
	transform: rotate(45deg);
    top: 4px;
    left: -4px;
}
.title_box{
	position: absolute;
    top: 20px;
    right: 0;
	width: 250px;
    background-color: $mango;
    padding-left: 5px;
    @media(max-width: $lg){
    	width: 300px;
    }
    @media(max-width: $xs){
    	width: 260px;
    }
}
.lectures_box{
	@include flexible(column, nowrap);
	clear: both;
	padding: 100px 260px 0 10px;
	@media(max-width: $lg){
		padding: 110px 10px 0 10px;
	}
}
.info_box a{
	color: #00645a;
}
.info{
	color: #00645a;
	font-size: 1.5rem;
	@media(max-width: $lg){
		font-size: 1.2rem;
	}
}

.materials{
	@include columns(4, 100px, 2em);
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border: 1px rgba(209, 88, 80,.4) solid;
}
.materials p{
	font-size: 14px;
	text-transform: uppercase;
}