$base-font-family: sans-serif !default;
html,body {
	font-family: $base-font-family;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}

// div {
// 	display: block;
// 	box-sizing: border-box;
// }

*,*:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a:active,
a:hover{
	outline:0;
}