@import 'compass';
@import '_reset';
@import '_variables';
@import '_mixins';
@import '_menuButton';
@import '_menu';

html,body {
	font-family:'Arima Madurai';
}

.h{
	display: inline-block;
	margin: 0;
	color: $white;	
}
h1{
	@extend .h;
	font-size: 3rem;
	@media(max-width: $landscape){
		font-size: 2.1rem;
	}
	@media(max-width: $phone){
		font-size: 1.9rem;
	}
}
h2{
	@extend .h;
	font-size: 2rem;
	@media(max-width: $tablet){
		font-size: 1.8rem;
	}
	@media(max-width: $landscape){
		font-size: 1.5rem;
	}
}
h3{
	@extend .h;
	font-size: 1.8rem;
	@media(max-width: $tablet){
		font-size: 1.5rem;
	}
	@media(max-width: $landscape){
		font-size: 1.3rem;
	}
}

a{
	text-decoration: none;
	color: $white;
	&:hover, &:focus{
			color: $light-grey;
		}
}

p{
	margin: 0;
	color: $dark-grey;
}

.italic{
	font-style: italic;
}
.bold{
	font-weight: bold;
}

img{
	display: block;
	max-width: 100%;
    height: auto;
}

.menu-button_span{
	background-color: $mango;
}

.menu-list{
	background-color: $green;
}

// - - - S T A R T - - -
#start {
	width: 100%;
	height: 700px;
	border: 10px;
	@include clip-path(polygon(0 0, 100% 0, 100% 85%, 0 100%));
  	// clip-path: url("#swg_d");
	background-image: linear-gradient(90deg,$pink,$light-green),url(../images/las.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	@media(max-width: $tablet){
		height: 600px;
	}
	@media(max-width: $landscape){
		height: 500px;
	}
	@media(max-width: $phone){
		height: 450px;
	}
}

.header {
	width: 100%;
	height: 100px;
	position: absolute;
	text-align: center;
	bottom: 100px;
	@media(max-width: $tablet){
		bottom: 50px;
	}
	@media(max-width: $phone){
		bottom: 30px;
	}
}

#diamonds{
	width: 100%;
	height: 100%;
	padding-bottom: 200px;
}
.diamond {
	transform: rotate(45deg);
	background: rgba($white,.1);
	border: 5px solid $white;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	display: flex;
	align-content: space-around;
    justify-content: center;
    flex-direction: column;
    cursor: default;
}
.start-link {
	color: $white;
}
.menu-diamond{
	width: 100px;
	height: 100px;
	cursor: pointer;
	overflow: hidden;
	@include transition(0.6s);
	@media(max-width: $tablet){
		width: 80px;
		height: 80px;
	}
	@media(max-width: $landscape){
		width: 60px;
		height: 60px;
	}
	@media(max-width: $phone){
		width: 40px;
		height: 40px;
	}
}

#menu_1{
	@include background(url(../images/woman.png));
}
#menu_2{
	@include background(url(../images/education.png));
}
#menu_3{
	@include background(url(../images/science.png));
}
#menu_4{
	@include background(url(../images/link.png));
}

#img-diamond {
	width: 300px;
	height: 300px;
	overflow: hidden;
	@media(max-width: $tablet){
		width: 230px;
		height: 230px;
	}
	@media(max-width: $landscape){
		width: 170px;
		height: 170px;
	}
}
.start-image{
	max-width: 300px;
	width: 100%;
	height: auto;
	position: relative;
   	top: 15px;
    left: 15px;
	vertical-align: middle;
	transform: rotate(-45deg);
}

// - - - S E C T I O N S - - -
.section_marker{
 	position: absolute;
 	right: 0;
 	margin-top: 20px;
 	width: 100%;
 	display: flex;
 	flex-direction: column;
 	align-items: flex-end;
}
.section_title{
	width: 230px;
	background-color: $mango;
	float: right;
	padding-left: 5px;
	@media(max-width: $tablet){
		width: 205px;
	}
	@media(max-width: $landscape){
		width: 180px;
	}
}

// - - - A B O U T - - -
.about_me{
	width: 100%;
	height: 500px;
	@include clip-path(polygon(0 0, 100% 0, 100% 85%, 0 100%));
 	// clip-path: url("#swg_d");
 	@media(max-width: $landscape){
 		height: 600px;
 		@include clip-path(none);
 	}
}
.me_slides{
	position: relative;
	height: 100%;
	margin: 0 300px 0 50px;
	text-align: center;
	@media(max-width: $tablet){
		margin: 0 250px 0 50px;
	}
	@media(max-width: $landscape){
		margin: 0 20px 0 20px;
	}
}
.me_description{
	height: 100%;
	padding: 20px 20px 50px 0;
	text-align: justify;
	display: none;
	flex-direction: column;
	justify-content: center;
	@media(max-width: $landscape){
		padding: 160px 0 50px 35px;
	}
}
.description{
	font-size: 1.2rem;
	@media(max-width: $tablet) {
		font-size: 16px;
	}
	@media(max-width: $phone) {
		font-size: 14px;
	}
}
.small_desc{
	display: none;
	@media(max-width: $tablet){
		display: inline;
	}
}
.big_desc{
		display: inline;	
	@media(max-width: $tablet){
		display: none;
	}
}

.me_dots{
	position: absolute;
    bottom: 30px;
    display: inline-block;
}
.dot {
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: $light-grey;
	transform: rotate(45deg);
	display: inline-block;
	@include bg-trans(background-color 0.6s);
	&:hover, .active{
		background-color: $grey;
	}
}

.about_col{
	position: absolute;
	width: 300px;
	height: 500px;
	right: 0;
	background-color: $green;
	@include clip-path(polygon(15% 0, 100% 0, 100% 100%, 0 100%));
  	// clip-path: url("#swg_s");
	@media(max-width: $tablet){
		width:250px;
	}
	@media(max-width: $landscape){
		height:auto;
		min-height: 160px;
		width: 100%;
		@include clip-path(polygon(0 45%, 100% 0, 100% 100%, 0 100%));
	}
}
.about_title{
	@extend .section_title;
	@media(max-width: $landscape){
		margin-top: 15px;
	}
	@media(max-width: $phone){
		width: 160px;
	}
}
.contact{
	height: auto;
	width: 260px;
    margin: 250px 10px 10px 0;
    font-size: 1.2rem;
    float: right;
    color: $white;
    @media(max-width: $tablet){
    	width: 210px;
		font-size: 1rem;
    }
    @media(max-width: $landscape){
    	display: inline-block;
    	height: auto;
    	float: left;
    	width: auto;
    	margin: 0 0 0 60px;
    	position: absolute;
    	bottom: 10px;

    	div{
		display: inline-block;
    	padding: 15px 5px 0 5px;
		}
			a{
				padding-left: 5px;
			}
	}
}
.contact_img{
	max-width: 20px;
	height: auto;
	@media(max-width: $landscape){
    	float: left;
    	clear: both;
    	display: inline-block;
	}
}

// - - - L E C T U R E S - - - 
.lectures{
	width: 100%;
	height: 600px;
	background-image: linear-gradient(90deg,$pink,$light-green),url(../images/lectures.jpeg);
	background-size: cover;
	background-attachment: fixed;
	@include clip-path(polygon(0 0, 100% 0, 100% 85%, 0 100%));
	// clip-path: url("#swg_d");
	z-index: -100;
	@media(max-width: $phone){
		height: 750px;
	}
}
.lectures_content{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;
	justify-content: center;
	padding: 100px 10px 90px 50px;
	color: $white;
	@media(max-width: $phone){
		    padding: 80px 10px 90px 50px;
	}
}
.l-link{
	display: block;
    height: auto;
    max-height: 160px;
    @media(max-width: $tablet){
		max-height: 130px;
	}
	@media(max-width: $landscape){
		max-height: 110px;
	}
}
.lecture {
	display: flex;
    flex-direction: column;
    justify-content: center;
	width: 200px;
	height: 150px;
	border: 1px $white solid;
	text-align: center;
	padding: 5px;
	margin: 10px;
	background: rgba($white,.1);
	@media(max-width: $tablet){
		width: 170px;
		height: 120px;
	}
	@media(max-width: $landscape){
		width: 150px;
		height: 100px;
		margin: 0 5px 5px 5px;
	}
}
.lecture p{
	font-size: 1.2rem;
	color: $white;
	@media(max-width: $tablet){
		font-size: 16px;
	}
	@media(max-width: $landscape){
		font-size: 14px;
	}
}

// - - - S C I E N C E - - - 
.science{
	width: 100%;
}
.science_section_marker{
	width: 100%;
	height: 100px;
}
.science_el{
	margin: 30px 30px 30px 50px;
}
.science_el-1{
	padding-top: 70px;
    margin: 0 30px 30px 50px;
}
.science_title{
	column-span: all;
}
.subsection{
	width: 100%;
	float: left;
	padding-left: 10px;
	h3{
		color: $green;
	}
}

// - - - C O O P E R A T I O N - - -
.cooperation_columns{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	clear: both;
}
.cooperation_company{
	width: 150px;
	height: 150px;
	border: 1px $pink solid;
	text-align: center;
	vertical-align: middle;
	float: left;
	margin: 20px;
	@media(max-width: $tablet){
		width: 100px;
		height: 100px;
	}
}
.company{
	visibility: hidden;
}
.ifpan{
	background-image: url(../images/logos/ifpan_logo.jpg);
	background-size: cover;
}
.wemif{
	background-image: url(../images/logos/wemif_logo.png);
	background-size: cover;
}
.imim{
	background-image: url(../images/logos/imim_logo.png);
	background-size: cover;
}
.tud{
	background-image: url(../images/logos/tud_logo.png);
	background-size: cover;
}
.unipress{
	background-image: url(../images/logos/unipress_logo.png);
	background-size: cover;
}

// - - - P R O J E C T S - - - 
.projects_columns{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	clear: both;
}

.project{
	width: 300px;
	height: 200px;
	display: flex;
    flex-direction: column;
    justify-content: center;
	border: 1px $pink solid;
	text-align: center;
	float: left;
	margin: 20px;
	cursor: pointer;
	background: rgba($white,.4);
	&:hover{
		background: linear-gradient(90deg,$pink,$light-green);
	}
	@media(max-width: $tablet){
		width: 250px;
		height: 150px;
		margin: 10px;
	}
}
.project_title{
	font-size: 1.2rem;
	padding: 5px;
	@media(max-width: $tablet){
		font-size: 15px;
	}
}
.project_description{
	padding: 5px;
	text-align: left;
	cursor: pointer;
	@media(max-width: $tablet){
		font-size: 14px
	}
}
.visible{
	display:block;
}
.invisible{
	display:none;
}

// - - - A R T I C L E S - - -
.articles_columns{
	display: flex;
	flex-direction: column;
	clear: both;
}
.article{
	@include columns(2, 300px, 2em);
	border: 1px $pink solid;
	margin: 10px;
	@media(max-width: $tablet){
		@include columns(2, 250px, 1em);
	}
}
.article_p{
	margin-bottom: 5px;
	padding: 5px;
	text-align: justify;
	@media(max-width: $tablet){
		font-size: 14px;
	}
}

// - - - L I N K S - - -
.links{
	width: 100%;
	height: 200px;
	padding: 10px;
	background-color: $green;
	@include clip-path(polygon(0 15%, 100% 0, 100% 100%, 0 100%));
  	// clip-path: url("#swg_h");
}
.links_columns{
	padding: 50px 0 0 10px;
	display: flex;
	flex-direction: row;
	float: left;
}
.link_div{
	margin-top: 30px;
	width: 100px;
	height: 100px;
	@media(max-width: $landscape){
		width: 70px;
		height: 70px;
	}
	@media(max-width: $phone){
		width: 50px;
		height: 50px;
	}
}